* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}

header {
  color: #fff;
}

.container {
  margin: 0 auto;
  max-width: 1000px;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2% 0;
}

.navigation ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  width: 80%;
}

.logo-div {
  width: 70px;
  background: rgb(235, 188, 36);
  height: 70px;
  border-radius: 50%;
}

.logo-div img {
  width: 100%;
}
