* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}

body {
  color: #233742;
  background: #fafafa;
}

h1, h2, h3, h4 {
  margin: 10px 0;
}

h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2.5rem;
}
h3 {
  font-size: 2rem;
}
p {
  font-size: 1rem;
}

header {
  background: #fff;
}

.container {
  margin: 0 auto;
  max-width: 1150px;
  padding: 0 20px;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1%;
}

.navigation ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 50%;
}

.navigation li {
  font-size: 1.1rem;
  font-weight: bold;
  padding: 0 10px;
}

.navigation li:nth-child(1) {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: -10px;
}

.navigation a {
  text-decoration: none;
  color: rgb(233, 27, 27);
  color: #ebbc24;
}

.active-nav {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #ebbc24;
}

.logo-div {
  width: 60px;
  background: #d23f8e;
  height: 60px;
  border-radius: 50%;
}

.logo-div img {
  width: 100%;
}

section > .intro {
  position: relative;
}

.intro {
  margin: 5% 0;
}

.intro h1 {
  max-width: 450px;
  line-height: 3rem;
  margin: 20px 0 10px 0;
}

.intro p {
  max-width: 450px;
}

/* ______how-we-work section____ */

.how-we-work {
  margin-bottom: 100px;
  margin-top: 100px;
}

.how-we-work .content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem;
}

.how-we-work img {
  width: 40px;
}

/* ______selected project section____ */
.selected-project {
  margin-bottom: 100px;
  margin-top: 100px;
}

.selected-project img {
  width: 500px;
}

.selected-project .project {
  display: flex;
  align-items: center;
  margin: 20px 0;
}

.selected-project > div > div:nth-child(2) > div {
  order: -1;
}

.selected-project .project div {
  max-width: 400px;
  margin: 0 auto;
  padding: 0 20px;
}

/* ______challenges section____ */

.challenge-background {
  background: #233742;
  padding: 50px 0;
}

.challenges-div {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 20px;
  text-align: center;
}

.challenge h4 {
  color: #fff;
}

.challenges img {
    width: 100%;
 }

.challenge a {
  text-decoration: none;
  background: #fff;
  color: #233742;
  padding: 7px 10px;
  border-radius: 7px;
  margin: 10px 0;
  display: block;
}

/* ______review section____ */
section.reviews {
  margin-bottom: 100px;
  margin-top: 100px;
}

.review .title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.review button {
  background: none;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.review img {
  width: 20px;
}

.more {
  display: flex;
}

.cards {
  display: flex;
  overflow-x: scroll;
}

.card {
  margin: 20px 10px 20px 0;
  box-shadow: 1px 3px 5px #b3aeae;
  padding: 10px 20px;
  min-width: 320px;
  display: flex;
  flex-direction: column;
}

.card h4 {
  margin-bottom: 20px;
}

.card-text {
  margin-bottom: 20px;
  max-width: 250px;
}

.customer {
  display: flex;
  margin-top: auto;
  transform: translateY(10px);
}

.customer-desc {
  margin-left: 20px;
}

.avatar img {
  width: 40px;
  border-radius: 50%;
  height: 40px;
}
/* ______blogs section____ */
.blogs{
  margin-bottom: 100px;
  margin-top: 100px;
}

.blogs h2{
  text-align: center;
}

.blog-title {
  max-width: 350px;
}

.blog-snippet,.blog-body {
  max-width: 400px;
}

.blog a {
  background: #233742;
  color: #fafafa;
  text-decoration: none;
  padding: 7px 10px;
  margin: 10px 0;
  border-radius: 50px;
  display: inline-block;
}

/* ______new letter section____ */

.news-letter-container {
  background: #ebbc24;
  padding: 70px 0;
  text-align: center;
}

.news-letter h3 {
  margin: 10px 0;
}

.news-letter p:nth-child(3) {
  margin-bottom: 20px;
}

.news-letter .input-field {
  justify-content: center;
  align-items: center;
}

input#search,
input#search-btn {
  margin: 5px 0;
  width: 250px;
  border: 1px solid #233742;
  height: 35px;
  padding-left: 10px;
  border-radius: none !important;
}

input#search-btn {
  width: 80px;
  background: #233742;
  color: #fff;
  padding: 5px;
  border-radius: none !important;
}
/* --------------------media query------------- */
@media (max-width: 700px) {
  .navigation {
    flex-direction: column;
  }

  .navigation ul {
    padding-top: 20px;
    width: 80%;
  }

  .project {
    flex-direction: column;
  }

  .project div {
    padding: 0;
    text-align: left;
  }

  .selected-project > div > div:nth-child(2) > div {
    order: 0;
  }
}
