@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
}

html  {
  scroll-behavior: smooth;
}

body {
  color: #233742;
  background: #fafafa;
}

h1, h2, h3, h4 {
  margin: 10px 0;
}

h1 {
  font-size: 2.8rem;
}
h2 {
  font-size: 2.5rem;
}
h3 {
  font-size: 2rem;
}
p {
  font-size: 1rem;
} 

.content-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

header {
  margin: 20px;
  justify-content: end;
}

.logo {
  font-weight: bold;
  font-size: 1.5rem;
  padding: 10px 0;
  border-bottom: 1px solid #e4e2e2;
}

.blog-description {
  grid-column-start: 2;
  grid-column-end: 4;
}