@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
}

html  {
  scroll-behavior: smooth;
}

body {
  color: #233742;
  background: #fff;
}

h1, h2, h3, h4 {
  margin: 10px 0;
}

h1 {
  font-size: 2.7rem;
}
h2 {
  font-size: 2.3rem;
}
h3 {
  font-size: 1.8rem;
}
p {
  font-size: 1rem;
} 

header {
  margin: 20px;
  margin-right: 0px;
}

nav ul li{
  list-style: none;
  margin-bottom: 10px;
  padding: 5px;
  padding-right: 10px;
}

li a {
  text-decoration: none;
  color: #233742;
  display: flex;
  align-items: center;
}

li a:hover {
  transition: 0.5s ease;
  transform: translateX(-10px);
}

li svg {
  width: 20px;
  margin-left: 5px;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #e4e2e2;
}

.logo {
  font-weight: bold;
  font-size: 1.5rem;
  padding: 5px;
}

.burger {
  width: 30px;
  display: none;
  background: none;
  cursor: pointer;
  border: none;
  padding: 2px;
}

.blog-description {
  padding: 20px;
  grid-column-start: 2;
  grid-column-end: 4;
  background: #fafafa;
}

.blog h2{
  max-width: 450px;
}

.blog .main-img{
  width: 100%;
  height: 350px;
  object-fit: cover;
}

.blog p {
  max-width: 600px;
  margin: 10px 0;
  line-height: 1.5rem;
}

.blog span {
  display: block;
  font-weight: bold;
  font-size: 1.1rem;
}

@media (min-width: 500px) {
  .content-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  header {
    display: flex;
    justify-content: flex-end;
  }
  nav {
    position: fixed;
  }
  ul li{
    border-right: 3px solid #fff;
  }
  ul li.active {
    font-weight: bold;
    border-right: 3px solid #ebbc24;
  }
  li a {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
}

@media (max-width: 499px) {
  .burger {
    display: flex;
  }
  nav ul {
    display: none;
  }
  nav ul.active {
    display: block;
  }
  .blog-description {
    padding-top: 0;
  }
}